<a href="https://colab.research.google.com/github/pavanshetkar/BigData/blob/master/practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Install PySpark
!pip install pyspark

# Import and create Spark session
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ColabSparkSession") \
    .getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [9]:
# Test it
# First DataFrame: Customers
customers = spark.createDataFrame([
    (1, "Alice"),
    (2, "Bob"),
    (3, "Charlie")
], ["customer_id", "name"])

customers.show()

# Second DataFrame: Orders
orders = spark.createDataFrame([
    (1, 100),
    (2, 200),
    (1, 300)
], ["customer_id", "order_amount"])
orders.show()

+-----------+-------+
|customer_id|   name|
+-----------+-------+
|          1|  Alice|
|          2|    Bob|
|          3|Charlie|
+-----------+-------+

+-----------+------------+
|customer_id|order_amount|
+-----------+------------+
|          1|         100|
|          2|         200|
|          1|         300|
+-----------+------------+

In [10]:
joined_df = customers.join(orders, on="customer_id", how="inner")
joined_df.show()

+-----------+-----+------------+
|customer_id| name|order_amount|
+-----------+-----+------------+
|          1|Alice|         100|
|          1|Alice|         300|
|          2|  Bob|         200|
+-----------+-----+------------+

In [11]:
data = [
    ("00000000", "06-26-2011", 200, "Exercise", "GymnasticsPro", "cash"),
    ("00000001", "05-26-2011", 300, "Exercise", "Weightlifting", "credit"),
    ("00000002", "06-01-2011", 100, "Exercise", "GymnasticsPro", "cash"),
    ("00000003", "06-05-2011", 100, "Gymnastics", "Rings", "credit"),
    ("00000004", "12-17-2011", 300, "Team Sports", "Field", "paytm"),
    ("00000005", "02-14-2011", 200, "Gymnastics", None, "cash")
]

#converting to DataFrame
df = spark.createDataFrame(data).toDF("tno", "tdate", "amount", "category", "product", "spendby")


df.show()

+--------+----------+------+-----------+-------------+-------+
|     tno|     tdate|amount|   category|      product|spendby|
+--------+----------+------+-----------+-------------+-------+
|00000000|06-26-2011|   200|   Exercise|GymnasticsPro|   cash|
|00000001|05-26-2011|   300|   Exercise|Weightlifting| credit|
|00000002|06-01-2011|   100|   Exercise|GymnasticsPro|   cash|
|00000003|06-05-2011|   100| Gymnastics|        Rings| credit|
|00000004|12-17-2011|   300|Team Sports|        Field|  paytm|
|00000005|02-14-2011|   200| Gymnastics|         NULL|   cash|
+--------+----------+------+-----------+-------------+-------+

In [14]:
!wget https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv -O iris.csv

--2025-04-06 02:26:22--  https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3716 (3.6K) [text/plain]
Saving to: ‘iris.csv’

iris.csv            100%[===================>]   3.63K  --.-KB/s    in 0s

2025-04-06 02:26:22 (30.2 MB/s) - ‘iris.csv’ saved [3716/3716]

# New Section

In [17]:
df = spark.read.csv("/content/iris.csv",
                    header=True, inferSchema=True)

df.show(5)
df.printSchema()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| setosa|
|         4.9|        3.0|         1.4|        0.2| setosa|
|         4.7|        3.2|         1.3|        0.2| setosa|
|         4.6|        3.1|         1.5|        0.2| setosa|
|         5.0|        3.6|         1.4|        0.2| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 5 rows

root
 |-- sepal_length: double (nullable = true)
 |-- sepal_width: double (nullable = true)
 |-- petal_length: double (nullable = true)
 |-- petal_width: double (nullable = true)
 |-- species: string (nullable = true)